.btn {
  @include FlexCenter;
  border-radius: 14px;
  color: $gray;
  font-family: ROBOTO;
  font-size: 18px;
  background: $light-gray;
  box-shadow: $shadow-outset;
  text-decoration: none;
  @include respond-to(small) {
    font-size: 15px;
  }

  &:active {
    box-shadow: $shadow-intset;
  }

  &:hover {
    fill: $purple;
    color: $purple;
  }

  &:hover &--icon {
    fill: $purple;
  }

  &:hover &--icon-arrow {
    transform: translate(15px);
  }

  &--icon {
    height: 20px;
    width: 24px;
    fill: $gray;
    transition: all 0.3s ease;
    @include respond-to(small) {
      height: 16px;
    }
  }

  &--sqr {
    height: 55px;
    width: 55px;
    flex-shrink: 0;
    @include respond-to(small) {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }
  }

  &--link {
    padding: 0 20px 0 20px;
    height: 41px;
    width: fit-content;
    transition: all 0.3s ease;
    @include respond-to(small) {
      height: 30px;
    }
  }
  &--round {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    flex-shrink: 0;
    @include respond-to(small) {
      height: 35px;
      width: 35px;
    }
  }

  &--lang {
    transition: all 0.3s ease;
  }
  &--subscribe {
    margin-left: 20px;
  }
  &--sign-in {
    flex-shrink: 0;
  }

  &--icon-arrow {
    height: 14px;
    width: 40px;
  }
}
