//Btn sizes
$normal-square-and-round-btn-size: 55px;
$small-square-and-round-btn-size: 35px;

.btn {
  @include FlexCenter;
  border-radius: 14px;
  font-family: $roboto;
  font-size: 18px;
  background: $cGray30;
  box-shadow: $shadow-outset;
  text-decoration: none;
  transition: all 0.3s ease;

  color: $cGray;

  @include respond-to(small) {
    font-size: 15px;
  }

  &:active {
    box-shadow: $shadow-intset;
  }

  &:hover {
    fill: $cPurple;
    color: $cPurple;
  }

  &:hover &__icon {
    fill: $cPurple;
  }

  &:hover &__icon-arrow {
    transform: translate(15px);
  }

  &__icon {
    height: 20px;
    width: 24px;
    transition: all 0.3s ease;
    fill: $cGray;

    @include respond-to(small) {
      height: 16px;
    }
  }

  &--sqr {
    height: $normal-square-and-round-btn-size;
    width: $normal-square-and-round-btn-size;
    flex-shrink: 0;

    @include respond-to(small) {
      height: $small-square-and-round-btn-size;
      width: $small-square-and-round-btn-size;
      border-radius: 50%;
    }
  }

  &--link {
    padding: 0 20px 0 20px;
    height: 41px;
    width: fit-content;

    @include respond-to(small) {
      height: 30px;
    }
  }
  &--pink {
    background: $cPink5;
  }

  &--round {
    flex-shrink: 0;
    height: $normal-square-and-round-btn-size;
    width: $normal-square-and-round-btn-size;
    border-radius: 50%;

    @include respond-to(small) {
      height: $small-square-and-round-btn-size;
      width: $small-square-and-round-btn-size;
    }
  }

  &--lang {
    transition: all 0.3s ease;
  }

  &--subscribe {
    margin-left: 20px;
  }

  &--sign-in {
    flex-shrink: 0;
  }

  &__icon-arrow {
    height: 14px;
    width: 40px;
  }
}

.btn-to-top {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  height: 60px;
  width: 60px;
  font-size: 14px;
  padding: 0;
  color: $cGray;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;

  @include respond-to(small) {
    height: 50px;
    width: 50px;
    bottom: 15px;
    right: 15px;
  }

  &__show {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover &__icon {
    fill: $cPurple;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    transform: rotate(-90deg);
    transition: 0.3s ease;
    fill: $cGray;

    @include respond-to(small) {
      width: 15px;
    }
  }
}

.btn-glass {
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
