@import "./variables";

.btn {
  @include FlexCenter;
  border-radius: 14px;
  color: $gray;
  font-family: ROBOTO;
  font-size: 18px;
  background: $light-gray;
  box-shadow: $shadow-outset;
  text-decoration: none;

  &:active {
    box-shadow: $shadow-intset;
  }

  &:hover {
    fill: $purple;
    color: $purple;
  }

  &:hover &--icon {
    fill: $purple;
  }

  &:hover &--icon-arrow {
    transform: translate(15px);
  }

  &--icon {
    height: 20px;
    width: 24px;
    fill: $gray;
    transition: all 0.3s ease;
  }

  &--sqr {
    height: 55px;
    width: 55px;
  }

  &--link {
    padding: 0 20px 0 20px;
    height: 41px;
    width: fit-content;
    transition: all 0.3s ease;
  }
  &--round {
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }

  &--lang {
    transition: all 0.3s ease;
  }

  &--icon-arrow {
    height: 14px;
    width: 14px;
    padding: 5px;
  }
}
