@import "./variables";

.input-field {
  display: flex;
  align-items: center;
  position: relative;

  &__input {
    height: 45px;
    width: 250px;
    position: relative;
    color: $btn-text-color;
    font-size: 18px;
    padding-left: 50px;
    border: none;
    border-radius: 14px;
    background: $btn-color;
    box-shadow: $shadow-intset;

    &::placeholder {
      color: #9699a1;
      font-size: 18px;
      font-family: inherit;
    }

    &:focus {
      outline: none;
      box-shadow: $shadow-outset;
      + .input-field__icon .input-field__icon--path {
        stroke: $color-inside-component;
      }
      + .input-field__icon--letter {
        fill: $color-inside-component;
      }
    }
  }
  &__icon {
    height: 25px;
    width: 25px;
    position: absolute;
    padding-left: 16px;
    &--letter {
      fill: $btn-text-color;
    }

    &--path {
      stroke: #c4c8d1;
    }
  }
}
