.section-logo {
  @include FlexCenter;
}

.section-latest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__btn {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 1200px;
  padding: 30px 0;

  @include respond-to(medium) {
    display: none;
  }
}
.section__title {
  @include FlexCenter;
  padding: 25px 0;
  font-size: 50px;
  font-family: $faustina;

  &--handwritten {
    padding-left: 10px;
    font-size: 62px;
    font-family: $baginda-script;
    font-style: normal;
    font-weight: 100;
  }
}
.section-videos {
  background-color: $cPink5;
  margin: 50px 0px;
}
