// Shadows for nepmorpic elments:

$shadow-outset: 6px 6px 11px #bebebe, -6px -6px 11px #ffffff;
$shadow-intset: inset 6px 6px 11px #bebebe, inset -6px -6px 11px #ffffff;

//Colors
$cGray30: #e0e0e0;
$cGray35: #e5e6ec;
$cGray40: #c4c8d1;
$cGray: #575f6b;
$cPurple: #6d5dfc;
$cPureBlack: #000;
$cPureWhite: #fff;
$cPink10: #d8a5a5;
$cPink: #edb4bf;
$cOrange: #f79426;
$cYellow: #fece31;
$cGreen: #20910a;

//Btn sizes
$normal-square-and-round-btn-size: 55px;
$small-square-and-round-btn-size: 35px;

//Fonts
$faustina: Faustina, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
$roboto: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
$baginda-script: "Baginda Script", Roboto, Oxygen, Ubuntu, Cantarell,
  "Open Sans", "Helvetica Neue", sans-serif;
$courgette: Courgette, Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;
