.logo {
  @include FlexCenter;
  margin-top: 60px;
  &_card {
    @include FlexCenter;
    height: 200px;
    width: 200px;
    border-radius: 30%;
    background: linear-gradient(310.59deg, #edb4bf 3.8%, #e5e6ec 119.99%);
    box-shadow: $shadow-outset;
    margin-right: 20px;
  }
  &_text1 {
    /* Sweet Bear */
    font-family: Courgette;
    font-style: normal;
    font-weight: normal;
    font-size: 71.5135px;
    line-height: 89px;
    color: #000000;
    margin-top: -50px;
  }
  &_text2 {
    /* Bakery blog */

    font-family: Courgette;
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 47.6757px;
    line-height: 60px;
    margin: 75px 0 0px 400px;
    color: #c8bfbf;
  }
}
