@import "./components/variables";
@import "./components/navigation-panel";
@import "./logo";
@import "./components/card";
@import url(//db.onlinewebfonts.com/c/e51dd697f37e546d5076fd21719136b4?family=Baginda+Script);

body {
  background-color: #e0e0e0;
  margin: 30px;
}
.subscribe {
  @include FlexCenter;
  margin-top: 50px;
}

.group-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 800px;
  align-content: center;
  align-content: center;
  column-gap: 70px;
}
