@import "./components/variables";
@import "./components/navigation-panel";
@import "./logo";

body {
  background-color: $light-gray;
  margin: 30px;
}
.subscribe {
  @include FlexCenter;
  margin-top: 50px;

  &__btn {
    margin-left: 20px;
  }
}
